/* CSS DA TABELA */
*{
  color:#212529;
  font-size: 1.2rem;
}
button{
  padding: 0.5rem;
  background-color: #2196f3;
  color: #fff;
  border-radius: 1vw;
  margin-left: 0.5vw;
  border: 1px solid #fff;
  height: auto;
  width: auto;
  position: inherit;
}
button:hover{
  background-color: #0c7cd5 ;
}
td
{
  position: relative;
  text-align: center;
  top:3vh;
}



#acoes{
  text-align: center;
}
th{
  padding: 2vw;
  color: #0c7cd5;
  text-align: center;
  border-radius: 20px;
  box-shadow: 1px 1px  #0c7cd5;
  position: flex;
}
#tabela{
  display: block;
  position: absolute;
  top: 20vh;
  margin-left: 17vw;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 1px 1px  #0c7cd5;
  bottom: auto;
}
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}


table{
  width: 70vw;
  position: relative;
  top: 0;
  margin-bottom: 5vh;
  border-collapse: collapse;

}
/* CSS DO MODAL ADICIONAR */
#modal-cadastro{
  display:block;
  z-index: 9999;
  position: fixed;
  top:14vh;
  width: 100vw;
  height: 80vh;
  font-size: 2.4vh;
}
.area-cadastro{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 3vw;
  border-radius: 10px;
  border: 4px solid #0c7cd5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cadastro span{
  display: flex;
  width: 18vw;
  flex-direction: column;
}
 input{
  margin-top: 1vh;
  background-color: #ffff;
  border: none;
  padding-left: 1vw;
  height: 5vh;
  outline: none;
  border-radius: 10px;
  border: 2px solid #ced4da;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 1vh;
}


#btn-close{
  position: fixed;
  color: #0c7cd5;
  left: 59vw;
  top: 17vh;
  color: #fff;
  width: 1vw;
  height: 1vh;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

#salvar{
  position: inherit;
  margin-left: 2vw;
  margin-top: 3vh;
  width: 15vw;
  margin-bottom: 0vh;
}
