<div id="tabela">
  <table>
    <thead>
      <tr>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>DATA DE NASCIMENTO</th>
        <th>SEXO</th>
        <th>AÇÕES</th>

      </tr>
    </thead>

    <tbody>
      <tr  *ngFor="let pessoa of (listaPessoas), let i = index" >
      <td>{{ pessoa["Nome"]}}</td>
      <td>{{ pessoa["Email"] }}</td>
      <td>{{ pessoa["DataNascimento"] }}</td>
      <td>{{ pessoa["Sexo"] }}</td>
      <td id="acoes">
      <button (click)="editarPessoa(pessoa, i);abrirFecharModal()">Editar</button>
      <button (click)="excluirPessoa(pessoa)">Excluir</button>
      </td>
      </tr>

    </tbody>

  </table>
</div>
<button (click)="abrirFecharModal()">Adicionar registro</button>
<!--<label>Digite o e-mail que deseja buscar:</label>
<button (click)="buscarPorEmail(buscaEmail)">Buscar</button>
<input type="text" [(ngModel)]="buscaEmail" placeholder="Email" > -->

<div id="modal-cadastro" [style.display]="modal">
  <section class="area-cadastro">
    <div class="cadastro">
      <button id="btn-close" (click)="abrirFecharModal()">X</button>
        <span>
        <label>Nome:</label>
        <input type="text" [(ngModel)]="nome" placeholder="Nome">
        <label>Email:</label>
        <input type="text" [(ngModel)]="email" placeholder="Email">
        <label>Data de nascimento:</label>
        <input type="text" [(ngModel)]="dataNascimento" placeholder="Data de nascimento">
        <label>Sexo:</label>
        <input type="text" [(ngModel)]="sexo" placeholder="Sexo" >
        <button id="salvar" (click)="adicionarPessoa();abrirFecharModal()">Salvar</button>
        </span>
      </div>
      </section>
      </div>



