<button>Adicionar</button>

<ul>
  <table>

    <thead>
      <tr>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>DATA DE NASCIMENTO</th>
        <th>SEXO</th>
        <th>AÇÕES</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of listaPessoas">
      <td>{{ pessoa["Nome"]}}</td>
      <td>{{ pessoa["Email"] }}</td>
      <td>{{ pessoa["DataNascimento"] }}</td>
      <td>{{ pessoa["Sexo"] }}</td>
      <td>
      <button>Editar</button>
      <button>Excluir</button>
      </td>

      </tr>

    </tbody>

  </table>


</ul>
