*{
  color:#212529;
  font-size: Bradley Hand, cursive;
}
button{
  padding: 8px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 10px;
  margin-left: 10px;
  border: 1px solid #fff;
}

button:hover{
  background-color: #0c7cd5 ;
}



td,th
{
  text-align: left;
}

th
{

  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #0c7cd5;
  border: 1px solid #0c7cd5;
}
